# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\WIN10\Desktop\FEI\4.semeter\PROG2\Zadania\Zadanie3Again\PROG2Zadanie3Again\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
